{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h1>Sign Up</h1>
<form action="{% url 'accounts:sign-up' %}" method="post">
    {% csrf_token %}
<!--    아이디 입력-->
    <div>
        <input type="text" name="username" placeholder="아이디"/>
    </div>
<!--    비밀번호 입력-->
    <div>
        <input type="password" name="password" placeholder="비밀번호"/>
    </div>
<!--    비밀번호 확인-->
    <div>
        <input type="password" name="password_check" placeholder="비밀번호 확인"/>
    </div>
<!--    상점주인용 체크박스-->
    <div>
        <label for="is_owner">상점주인 여부</label>
        <input type="checkbox" name="is_owner" id="is_owner"/>
    </div>
<!--    회원가입 버튼-->
    <div>
        <input type="submit" value="회원가입"/>
    </div>
</form>
{% endblock %}
