<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid " >
      <a class="navbar-brand" href="#">
          <img src="images/colla-logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Colla
<!--          <img src="images/colla-logo.png" class="img-fluid" alt="" width="100%" height="50px">-->
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">컬렉션</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">게시판</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">로그인</a>
            </li>
        </ul>
    </span>
  </div>
</nav>